#menu {position: fixed; z-index: 9; display: flex;}
#menu li {list-style: none; margin-right: 30px;}
#menu li.active a {border-bottom: 3px solid #000;}
#menu li a {font-size: 0.8rem; color: #000; text-decoration: none;}

#fullpage .section {text-align: center;}

#fp-nav {transition: .4s;}
#fp-nav ul li:first-child {display: none;}
#fp-nav.off {opacity: 0;}